
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{.PageTitle}}</title>
</head>
<body>
    <h2>Ваше имя: </h2>{{.Name}}
    <h2>Ваш возраст: </h2>{{.Age}}
</body>
</html>